@import "tailwindcss";
@plugin "daisyui";

@font-face {
	font-family: 'SUIT Variable';
	font-weight: 100 900;
	font-display: swap;
	src: url('/assets/fonts/SUIT-Variable.woff2') format('woff2-variations');
}

:root {
	/* --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" */
	--default-font-family: 'SUIT Variable';
}